
*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #e5eaf5;

}

.card{

    width: 290px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: -206px;
    margin-top: 100px;
}
.card-body{
    background-color: #e1e1e1;
    height: 450px;
}
div h5{
    color: black;
    margin-top: 40px;
}
.container_cards{
    display: flex;
    justify-content: center;

}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 311px;
}
nav {
    margin-bottom: 20px;
    text-align: center;
    background-color: #343a40 ;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-size: large;
    margin: 10px 10px;
    margin-top: 45px;
    color:white;
    display: block;

}
button{
    width: 140px;
    height: 35px;
    background-color: #343a40;
}
button a{
    color: white;
}
img{
    object-fit: cover;
    width: 100%;
    height: 250px;
}
