<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style7.css' %}">
</head>

<body>
    <header>
        <nav id="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div>
            {% if 'userid' in request.session%}
            <a href="/logoff"> Logoff </a>
            {%else%}
            <a href='/login'>Login/Signup</a>
            {%endif%}
        </div>
    </header>
    <div class="main">

        <h1 class="head">Meet the Team</h1>
        <div class="container_about">
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/1230116407635742771/1244998873194172458/IMG_20230418_120741.jpg?ex=6657270e&is=6655d58e&hm=85eb337637dab2dbb335cd969e4dcb842960ab7651cd2475061668d31f595b02&"
                    alt="Team Member 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quias facilis, error nam eum magni quisquam
                    aliquid nostrum quas odio quam quidem sapiente vel atque, distinctio libero cupiditate dolores!
                    Impedit officiis cum non?</p>
            </div>
            <div class="card">
                <img src="https://media.licdn.com/dms/image/D4E03AQEKGJDa9jZCrA/profile-displayphoto-shrink_800_800/0/1684603237772?e=1722470400&v=beta&t=L2CSccyIfaKKTsj093kNqZnMKBbLGXYvVzklz2XLA_U"
                    alt="Team Member 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quias facilis, error nam eum magni quisquam
                    aliquid nostrum quas odio quam quidem sapiente vel atque, distinctio libero cupiditate dolores!
                    Impedit officiis cum non?</p>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/1230116407635742771/1245049882205491242/20240528_192312.jpg?ex=6657568f&is=6656050f&hm=454047034b717b34b06171ac4ed42426d3356b8d14da3fe695f739151e7f51c6&"
                    alt="Team Member 3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quias facilis, error nam eum magni quisquam
                    aliquid nostrum quas odio quam quidem sapiente vel atque, distinctio libero cupiditate dolores!
                    Impedit officiis cum non?</p>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/1237274618893439038/1245049269304692796/girl.PNG?ex=665755fd&is=6656047d&hm=82d4afd8d520cada84df4e61af40a4ea86b4637328b9abd661a8c8ae8e1f2d92&"
                    alt="Team Member 4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quias facilis, error nam eum magni quisquam
                    aliquid nostrum quas odio quam quidem sapiente vel atque, distinctio libero cupiditate dolores!
                    Impedit officiis cum non?</p>
            </div>
        </div>
        <div class="mission">
            <h1> Our Mission </h1>
            <p> At Yelp Palestine our mission is to connect people with exceptional local experiences that enrich their
                lives and empower communities. We strive to provide a platform where individuals can discover and
                celebrate the best of what their neighborhoods have to offer, from beloved eateries to hidden gems.
                Through our commitment to authenticity, transparency, and inclusivity, we aim to foster a vibrant
                ecosystem where businesses thrive, customers find joy, and communities flourish. Together, we're
                building more than just a directory – we're creating meaningful connections that inspire exploration,
                support local economies, and shape memorable experiences for generations to come. </p>
        </div>
    </div>

    <footer>

        </div>
        <div class="footer-col">
            <h4>company</h4>
            <div class="links">
                <a href="/services">Services</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#">Facebook</a>
                <a href="#">github</a>
            </div>
        </div>
    </footer>


</body>

</html>