<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'business.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
</head>

<body>
    <div class="main">
        <header>
            <nav id="navbar">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/services">Services</a>
                <a href="/contact">Contact Us</a>
            </nav>
            <div>
                {% if 'userid' in request.session%}
                <a href="/logoff"> Logoff </a>
                {%else%}
                <a href='/login'>Login/Signup</a>
                {%endif%}
            </div>
        </header>

        <div class="mission">
            <h1>Specialization </h1>
            <p> Refers to the process of focusing on a particular area of study, work, or expertise within a broader
                field. It involves acquiring in-depth knowledge, skills, and experience in a specific niche or subject
                matter, often to the exclusion of other areas. Specialization allows individuals or organizations to
                become highly proficient and efficient in their chosen domain, enabling them to offer specialized
                services, products, or solutions.</p>
        </div>
    </div>
    <div class="container_about">
        {% for item in business %}
        <div class="card">
            <img src="{{item.image_url}}"
                alt="Team Member 1">
            <div class="insidecard">

                <h3>{{ item.name }}</h3>
                <h5>Phone: {{item.phone}}</h5>
                <button class="butt"><a
                        href="/category/{{item.speciality.category.id}}/{{item.speciality.id}}/{{item.id}}"
                        class="text-decoration-none">Post a Review!</a></button>
            </div>
        </div>

        {% endfor %}
    </div>


    <footer>


        <div class="footer-col">
            <h4>company</h4>
            <div class="links">
                <a href="/services">Services</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#">Facebook</a>
                <a href="#">github</a>
            </div>
        </div>
    </footer>


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+hv+8W6aqXKAXap6RMh77+8h9V6E9" crossorigin="anonymous"></script> -->
</body>

</html>