<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'category.css' %}">
</head>

<body>
    <header>
        <nav id="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div>
            {% if 'userid' in request.session%}
            <a href="/logoff"> Logoff </a>
            {%else%}
            <a href='/login'>Login/Signup</a>
            {%endif%}
        </div>
    </header>

    <div class="mission">
        <h1> Category </h1>
        <p> Classification or grouping of things based on shared characteristics, properties, or attributes.</p>
    </div>

    <div class="container_about">
        {% for item in speciality %}
        <div class="card">
                <a href="/category/{{ item.category.id }}/{{ item.id }}" >
                <img src="https://cdn.discordapp.com/attachments/1230116407635742771/1245049882205491242/20240528_192312.jpg?ex=6657568f&is=6656050f&hm=454047034b717b34b06171ac4ed42426d3356b8d14da3fe695f739151e7f51c6&"
                    alt="category">
                <div class="insidecard">
                    <h3>{{ item.name }}</h3>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <footer>


        <div class="footer-col">
            <h4>company</h4>
            <div class="links">
                <a href="/services">Services</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#">Facebook</a>
                <a href="#">github</a>
            </div>
        </div>
    </footer>
</body>

</html>