<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style5.css' %}">
</head>

<body>
    <header>
        <nav id="navbar">
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div>
            {% if 'userid' in request.session%}
            <a href="/logoff"> Logoff </a>
            {%else%}
            <a href='/login'>Login/Signup</a>
            {%endif%}
        </div>
    </header>

    <div class="container cards">
        {% for item in speciality %}
        <a href="/category/{{ item.category.id }}/{{ item.id }}" class="text-decoration-none">
            <div class="card" style="width: 250px;">
                <img src="{{ item.image_url }}" alt="..." class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <footer>

        </div>
        <div class="footer-col">
            <h4>company</h4>
            <div class="links">
                <a href="#">Services</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#">Facebook</a>
                <a href="#">github</a>
            </div>
        </div>
    </footer>
</body>

</html>