<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp homepage</title>
    {% load static %}	

    <link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">


</head>

<body>

    <header>
        <nav id="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="/services">Services</a>
            <a href="#">Contact</a>
        </nav>
        <div>
            <a href="/login"> Login / SignUp</a>
        </div>
    </header>

    <div class="slider">
        <div class="list">
            {%for category in categories%}
            <div class="item">
                <img src="{{ category.image_url }}" alt="{{category.name}}" />
                <div class="content">
                    <div class="title"></div>
                    <div class="type">{{category.name}}</div><!-- take int from database-->
                    <div class="description">
                        <!--take it from data base  -->
                    </div>
                    <div class="button">
                        <button><a href="category/{{category.id}}">SEE MORE</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="thumbnail">
            {%for category in categories%}
            <div class="item">
                <img src="{{category.image_url}}" alt="{{category.name}}">
            </div>
            {% endfor %}


        </div>


        <div class="nextPrevArrows">
            <button class="prev">
                < </button>
                    <button class="next"> > </button>
        </div>


    </div>

    <h3 id="mostrecent"> Most recnt </h3>
    <div class="page2">
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>



    </div>

    <footer>
        <div class="footer-col">
            <h4>products</h4>
            <ul>
                <li><a href="#">teams</a></li>
                <li><a href="#">advertising</a></li>
                <li><a href="#">talent</a></li>
            </ul>
        </div>
        </div>
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="#">about</a></li>
                <li><a href="#">legal</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#">Email</a>
                <a href="#">github</a>
            </div>
        </div>
    </footer>
</body>

    <script src="{% static 'script.js' %}"></script>
</body>

</html>