<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yelp homepage</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header>
        <nav id="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </nav>
        <div>
            {% if 'userid' in request.session%}
                <a href="/logoff"> Logoff </a>
            {%else%}
                <a href='/login'>Login/Signup</a>
            {%endif%}
        </div>
    </header>

    <div class="slider">
        <div class="list">
            {%for category in categories%}
            <div class="item">
                <img src="{{ category.image_url }}" alt="{{category.name}}" />
                <div class="content">
                    <div class="title"></div>
                    <div class="type">{{category.name}}</div><!-- take int from database-->
                    <div class="description">
                        <!--take it from data base  -->
                    </div>
                    <div class="button">
                        <button><a href="category/{{category.id}}">SEE MORE</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="thumbnail">
            {%for category in categories%}
            <div class="item">
                <img src="{{category.image_url}}" alt="{{category.name}}">
            </div>
            {% endfor %}


        </div>


        <div class="nextPrevArrows">
            <button class="prev">
                < </button>
                    <button class="next"> > </button>
        </div>


    </div>

    <h3 id="mostrecent"> Most recent </h3>
    <div class="page2">
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" alt="batata">
            </div>
            <div class="category"> buss name </div>
            <div class="des"> A descritption about each buss
                <div class="user"> By </span> 4 days ago</div>
            </div>
        </div>



    </div>
    <div class="cta-card">
        <img src="https://media.istockphoto.com/id/1346944001/photo/close-up-of-co-workers-stacking-their-hands-together.jpg?s=612x612&w=0&k=20&c=lidJcFUSR3rkMt4B0yoNwH55lz3sth9o2280keqBXGE=" alt="Our Team" class="cta-image">
        <div class="cta-text">
            <h2>Meet Our Team</h2>
            <p>Get to know the people behind Yelp Palestine and learn about their passions and expertise.</p>
            <button class="cta-button"><a href="/about">Learn More</a></button>
        </div>
    </div>
    <footer>

        </div>
        <div class="footer-col">
            <h4>company</h4>
            <div class="links">
                <a href="#">Services</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#">Facebook</a>
                <a href="#">github</a>
            </div>
        </div>
    </footer>


</body>

<script src="{% static 'script.js' %}"></script>
</body>

</html>