<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style5.css' %}">
</head>

<body>
        <div class="wrap">
            <div class="box">
                <div class="box-top">
                    <img class="box-image"
                        src="https://images.unsplash.com/photo-1622219809260-ce065fc5277f?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzMwNjYxOQ&ixlib=rb-1.2.1&q=85"
                        alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h3 class="box-title">Kelsie Meyer</h3>
                        <p class="user-follow-info">17 Projects</p>
                    </div>
                    <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go
                        mocha steamed grounds cultivar panna aroma.</p>
                </div>
                <a href="#" class="button">Follow Kelsie</a>
            </div>
        </div>
</body>

</html>