<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}	
    <link rel="stylesheet" href="{% static 'services.css' %}">
    <title>Services Page</title>
</head>
<body>

    <div class="main"></div>

    <div class="head">
        <h1>Services Yelp proudly offers!</h1>
    </div>

    <div class="container">

        <div class="card">
            <h2>Business Listings</h2>
            <p>A comprehensive database of businesses across various categories, including restaurants, doctors, shops, salons, and more. Businesses can claim their listing and manage their information.</p>
        </div>

        <div class="card">
            <h2>Reviews and Ratings</h2>
            <p>Users can write reviews and give ratings for businesses they have visited, sharing their experiences with others. Businesses can claim their listing and manage their information.</p>
        </div>

        <div class="card">
            <h2>Search and Discovery</h2>
            <p>Yelp offers search functionality that allows users to find businesses based on location, category, and other filters. Users can also discover new businesses through curated lists, and personalized suggestions.</p>
        </div>

        <div class="card">
            <h2>Mobile App</h2>
            <p>Yelp has a mobile app available on iOS and Android devices, making it convenient for users to access business information and reviews on the go. The app also offers features like check-in offers, food ordering, and reservations.</p>
        </div>

        <div class="card">
            <h2>Business Solutions</h2>
            <p>Yelp offers advertising options for businesses to promote their listings and reach a larger audience. Additionally, businesses can access tools and analytics to better understand their customers and manage their online reputation.</p>
        </div>

        <div class="card">
            <h2>Community Engagement</h2>
            <p>Yelp fosters a community of users who contribute reviews, photos, and tips about local businesses. Users can follow each other, send messages, and engage in discussions about their favorite places..</p>
        </div>

    </div>

</body>
</html>
