<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product Review</title>
{%load static%}
<link rel="stylesheet" href="{% static 'style8.css' %}">
</head>
<body>
    
    <header>
        <nav id="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div>
            {% if 'userid' in request.session%}
            <a href="/logoff"> Logoff </a>
            {%else%}
            <a href='/login'>Login/Signup</a>
            {%endif%}
        </div>
    </header>

        <div class="container">
        <!-- textarea messages -->
        <div class="message-div">
            <form action="/process3" method="POST">
                {% csrf_token %}
                <div class="textarea">
                    <h2>Post a review</h2>
                    <p>You a writing a review for <strong>{{request.session.name}}</strong></p>
                    <textarea name="review" id="message" placeholder="Post a review..."></textarea>
                    <div class="star-rating">
                        <input type="radio" name="rating" id="rating-5" value="5">
                        <label for="rating-5" title="5 stars">&#9733;</label>
                        <input type="radio" name="rating" id="rating-4" value="4">
                        <label for="rating-4" title="4 stars">&#9733;</label>
                        <input type="radio" name="rating" id="rating-3" value="3">
                        <label for="rating-3" title="3 stars">&#9733;</label>
                        <input type="radio" name="rating" id="rating-2" value="2">
                        <label for="rating-2" title="2 stars">&#9733;</label>
                        <input type="radio" name="rating" id="rating-1" value="1">
                        <label for="rating-1" title="1 star">&#9733;</label>
                    </div>
                    <div class="ended">
                        <input class="button" type="submit" value="Post a message">
                    </div>
                </div>
            </form>
            {% for message in messages %}
                {% if 'rev' in message.tags %}
                    <div class='msg'>{{ message }}</div>
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="sec2">
            <div class="sec2first">
                <main class="l-card">
                    {%for review in reviews%}
                        <section class="l-card__text">
                            <h4>{{review.user.first_name}} {{review.user.last_name}} - {{review.updated_at}}</h4>
                                <h4><em>Rating: <span class="rate">{{review.rating}}</em></span></h4>
                            
                            <p>
                                {{review.content}}
                            </p>
                            {%if review.user.id == request.session.userid%}
                                <a href="/delete/{{review.id}}" id="del">Delete</a>
                            {%endif%}
                            {%for comment in review.comments.all%}
                                <h5>{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.updated_at}}</h5>
                                <h5>{{comment.content}}</h5>
                                
                            {%endfor%}
                        </section>
                        <form action="/comment/{{review.id}}" method="post">
                            {% csrf_token %}
                            <textarea name="content" id="content" rows="5" cols="60"></textarea><br>
                            <input type="submit" value="Post a comment">
                            {% for message in messages %}
				        {% if 'com' in message.tags %}
					        <div class='msg'>{{ message }}</div>
				        {% endif %}
			            {% endfor %}
                        </form>
                    {%endfor%}
                </div>
                
        
        <div class="sec2-sec">
                    <div class="cta-card">
                        <img src="https://media.istockphoto.com/id/1346944001/photo/close-up-of-co-workers-stacking-their-hands-together.jpg?s=612x612&w=0&k=20&c=lidJcFUSR3rkMt4B0yoNwH55lz3sth9o2280keqBXGE=" alt="Our Team" class="cta-image">
                        <div class="cta-text">
                            <h2>Meet Our Team</h2>
                            <p>Get to know the people behind Yelp Palestine and learn about their passions and expertise.</p>
                            <button class="cta-button"><a href="/about">Learn More</a></button>
                        </div>
                    
            </div>
        </div>
    </div>
    </div>
    <footer>

    
        <div class="footer-col">
            <h4>company</h4>
            <div class="links">
                <a href="/services">Services</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#">Facebook</a>
                <a href="#">github</a>
            </div>
        </div>
        </footer>

<script src="{% static 'script.js' %}"></script>

</body>
</html>
