<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Reviews</title>
</head>

<body>
    <div class="container">

        <div class="top-row">
            <div><h2>CodingDojo Wall</h2></div>
            <div class="logOff">
                <h3>Welcome, {{user.first}}</h3>
                <div><a href="/logoff">Log Off</a></div>
            </div>
        </div>

        <hr>

        <!-- textarea messages -->
        <div class="message-div">
            <form action="/wall/messages" method="POST">      
                {% csrf_token %}
                    <div class="textarea">
                        <h2>Post a message</h2>
                        <textarea name="message" id="message" placeholder="post a message..."></textarea>
                        <div class="ended"><input class="button" type="submit" value="Post a message"></div>
                    </div>
            </form>
        </div>

        <!-- wall area for Comments log -->
        <div class="msg-comment-log">
            {% for review in reviews %}
                <div class="messages">
                    <p class="user">{{review.user.first_name}} {{review.user.last_name}} - {{review.created_at}}</p>
                    <p class="message-log">{{review.content}}</p>
                    <div class="comments">
                        {% for comment in review.comments.all %}
                            <p class="user-1">{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.created_at}}</p>
                            <p class="comment-log">{{comment.content}}</p>
                        {% endfor %}
                    </div>
                    
                    <div class="comment-box">
                        <form action="/comment/{{review.id}}"  method="POST">
                            {% csrf_token %}
                            <h3>Post a comment</h3>
                            <textarea class="textarea-2"  name="comment"  id="comment" placeholder="post a comment..."></textarea><span><a href="/wall/comment/delete/{{comment.id}}">delete comment</a></span>
                            <div class="submit-2"><input class="button-2" type="submit" value="Post a comment"></div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>  
</body>
</html>



